-- Check subscription status
SELECT 
  user_id,
  stripe_subscription_id,
  stripe_customer_id,
  status,
  current_period_end
FROM social_art.subscriptions 
WHERE user_id = 'd0be4885-8a98-43fa-93a8-ffb50d05dc49';
